<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.royr.alfred.quick-actions</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3EF479A7-9DAD-456B-A085-565E194D46CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA85611-DED1-4A2E-B7D3-351D4C42CAAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A602D085-26F2-446A-869D-AE9410967CBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A8FAB6D-5A79-4B33-A9D1-CE798422503D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roy Rothenberg</string>
	<key>description</key>
	<string>Open webpages based on keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Github Gists</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3EF479A7-9DAD-456B-A085-565E194D46CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gist.github.com/vuduchild</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EDA85611-DED1-4A2E-B7D3-351D4C42CAAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>roulette</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Roulette feature</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A602D085-26F2-446A-869D-AE9410967CBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://experiments.instacart.tools/roulette/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5A8FAB6D-5A79-4B33-A9D1-CE798422503D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3EF479A7-9DAD-456B-A085-565E194D46CB</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5A8FAB6D-5A79-4B33-A9D1-CE798422503D</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A602D085-26F2-446A-869D-AE9410967CBB</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>EDA85611-DED1-4A2E-B7D3-351D4C42CAAE</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/vuduchild/alfred-quick-actions</string>
</dict>
</plist>
